.product-card {
  width: 250px;
  display: flex;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: #92a8bb0e;
}

.product-card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #21272d;
}
.product_card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
