.filter-products-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .products_card {
    width: 200px;
  }
  .filter-products-wrapper {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
