.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  flex: 1;
  padding: 70px; /* Adjust as needed */
  width: 20%;
  margin-right: 50px;
}

.hero-image {
  width: 100px;
  padding: 50px;
  height: 30%;
}
.hero-text h1 {
  padding-bottom: 40px;
  font-size: 40px;
}
.hero-text p {
  padding-bottom: 40px;
  font-size: 25px;
}

.filter-products-wrapper {
  margin-left: 50px;
}
