.cartPageList {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cartitem-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
  .cartPageList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
