.cartItem {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 0;
  width: 100%;
  height: 100%;
}
.cartItemBody {
  display: flex;

  gap: 6rem;
}

.cartItemBody img {
  width: 100px;
  object-fit: contain;
}
.cartText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItem-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.cartItemAction {
  display: flex;
  gap: 1.5rem;
}
.cartItemAction button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.5px solid #21272d;
  background-color: #21272d;
  color: #f9f6ed;
  font-weight: 600;
}
.cartItemAction input {
  padding: 0.5rem;
  width: 60px;
  border-radius: 5px;
  border: 0.5px solid #21272d;
}
.cartItemPrice {
  font-weight: 600;
}
.item-cart-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media screen and (max-width: 600px) {
  .cartItemBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .cartItem-content img {
    width: 70px;
  }
  .cartText {
    font-size: 14px;
    width: 200px;
  }
  .cartItemAction button {
    width: 70px;
    height: 30px;
    font-size: 10px;
    padding: 0;
  }
  .cartItemAction input {
    width: 40px;
  }
}

@media screen and (max-width: 400px) {
  .cartItemBody {
    display: flex;
    flex-direction: column;
  }

  .cartText {
    font-size: 14px;
    width: 200px;
    text-align: center;
  }
  .cartItemAction {
    margin-top: 20px;
  }
  .cartItemAction button {
    width: 70px;
    height: 30px;
    font-size: 10px;
    padding: 0;
  }
  .cartItemAction input {
    width: 40px;
  }
}
