.checkout_container {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.checkout-title {
  margin: 2rem 0;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subtotal {
  display: flex;
  justify-content: space-between;
}
.shipping {
  display: flex;
  justify-content: space-between;
}
.tax {
  display: flex;
  justify-content: space-between;
}

.estimated-total {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .checkout_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .checkout_container {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 16px;
  }
}
